@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@300;600&display=swap');

body{
	margin: 0;
	padding: 0;
	background-color: #fff;
	background-image: url('/static/background-healthy-eating.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.container {
	max-width: 1200px;
	margin: 0px auto;
	padding-top: 90px;
	font-family: 'Noto Serif', serif;
	background-color: #fff;
}

/* header fixed on the top */
	header{
	position: fixed;
	top: 0;
	width: 1200px;
	padding-left: 10px;
	z-index: 1;
}


/* logo-heart */
.logo img{
	float: left;
	width: 50px;
	height: 49,9px;
	background-color: #fff;
}


/* buttons on the right side */
.navigation {
    display: flex;
    justify-content: flex-end;
	background-color: #ffffff;
	overflow: hidden;
	margin-bottom: 20px;
	color: #3c6845;
}


/*CSS pour Dropdown menu start*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
li {
	display: inline;

  }
li a, .dropbtn {
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }

  li a, .dropdown .dropbtn{
	color: #6a9f62;
  }
    
li a:hover, .dropdown:hover .dropbtn {
	background-color: #FFF;
	color: #13be03;
  }
  
li.dropdown {
	display: inline-block;
	color: #6a9f62;
  }
  
.dropdown-content {
	display: none;
	position: absolute;
	background-color:#FFF;
	color: #6a9f62;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 5px 5px 5px 5px;
  }
  
.dropdown-content a {
	padding: 12px 16px;
	display: block;
	text-align: left;
	color: #6a9f62;
  }
  
.dropdown-content a:hover {
	background-color:#FFF;
	border-radius: 5px 5px 5px 5px;
	text-decoration: underline;
}
  
.dropdown:hover .dropdown-content {
	display: block;
  }


/* profil et loupe */
.nav-link img{
	float: left;
	width: 20px;
	height: 20px;
}

/* profil et loupe */
.nav-link:hover {
	background-color: #FFF;

}/*dropdown menu end*/


.banner{
    background-image: linear-gradient( hsla(0, 0%, 100%, 0.0), hsla(0, 0%, 100%, 1)), url(images_index/fruit_legum.jpg);
	background-color: rgb(0, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
	margin: 10px;	
}

p{
	font-family: 'inter';
}

h2{
	font-family: 'Noto Serif', serif;

}
.description_banner{
    padding-right: 20rem;
    line-height: 1.7rem;
	color: #000;
	font-size: 1.5rem;
}


.image_article{
	float: left;
	margin: 20px 20px 20px 0; 
	border-radius: 4px 4px 4px 4px;
}
.article{
	text-align: justify;
	padding-left: 50px;
	padding-right: 50px;
}

h3{
	font-size:2rem;
}

.temps{
	color: #3c6845;
}

.container_all{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.all_articles{
	padding-left: 50px;
	padding-top: 30px;
	font-size:2rem;
}

.card{
 	background-color: #5B9279;
    border-radius: 10px;
    display: flex;
	flex-wrap: wrap;
	margin: 2rem;
	height: 500px;
	box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
}


.card:hover{
	box-shadow: 2px 2px 7px hsl(257, 9%, 15%);
	text-decoration: none;
  }

.image_article{
	width: 200px;
}


.image{
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
    height:70%;
	border-radius: 10px 10px 0 0;
	background-position: center;
}



#agrumes{
	background-image: url(images_index/agrumes.jpg);
}

#agrumes:hover{
	background-image: linear-gradient( hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.5)), url(images_index/agrumes.jpg);
    cursor: pointer;
}
#legumes{
	background-image: url(images_index/legumes.jpg);
}

#legumes:hover{
	background-image: linear-gradient( hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.5)), url(images_index/legumes.jpg);
    cursor: pointer;
}

#ginger{
	background-image: url(images_index/ginger.jpg);
}

#ginger:hover{
	background-image: linear-gradient( hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0.5)), url(images_index/ginger.jpg);
    cursor: pointer;
}


.text{
    padding: 1rem;
	text-decoration:none;
	color: #FFF;
}


h4:hover{
	text-decoration: underline;
	cursor: pointer;
}

.pages{
    display: flex;
    justify-content: center;
    color: #333333;
    margin: 3rem;
}

.page_arrows{
    color: #5B9279;
}

#page_one{
    color: #6cd66c;
}
        
.pagination{
    list-style: none;
    margin: auto;
	margin-bottom: 30px;
    padding: auto;
    display: flex;
    font-family: bold;
    font-size: 1,9rem;
    gap: 2rem;
    font-family: 'inter';
    align-items: baseline;
}

.page_arrows:hover, .page_numbers:hover{
    color: #6cd66c;
    cursor: pointer;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}



/* start footer */

.footer {
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 5px;
	margin: 20px ;
	color:#6a9f62; 
				
}

.recettes-question {
	display: flex;
	justify-content: space-between;
	color: #6a9f62;
}

.menu-simple {
	padding: 1rem;
	background: #f2f2f2;
	display: flex;
	justify-content: flex-start;
	color: #4e7948;
}

.menu-simple .fa-brands {
	margin-left: -10px;
	margin-right: 60px;
	color: #6a9f62;
}
.menu-simple .fa-brands:hover{
	color: #1c6113;
}

.bottoms{
	display: flex;
	gap: 450px;	
}

.mail:hover{
	color: #6a9f62;
	cursor: default;
}

.newsletter {
	justify-content: right;
}

input {
	border: 1px solid;
}

.button {
	border: 1px solid;
	color: #46733f;
}


/* Start copyright line  */
.copyright {
	
	padding:  0;
	justify-content: space-between;
}
	.copyright span,
	.copyright a {
	  color: #878787;
	  -webkit-transition: all 0.3s linear;
	  -o-transition: all 0.3s linear;
	  transition: all 0.3s linear;
 }
	.copyright a:hover {
	  color:#52c16f; }
  
	.copyright-container{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		margin: 0 auto;
		padding: 20px;
		font-family: 'inter';
		background-color: #fff;
	  }


	.all_right {
		display: flex;
		justify-content: space-between;

}

  .copyright-menu ul {
	text-align: right;
	margin-bottom: 0px;
	margin-top: 0px; 
}
  
  .copyright-menu li {
	display: inline-block;
	padding-left: 20px; 
}

/* finish footer */

    

@media (max-width:500px) {
	
    .banner{
        height: 20%;
        padding: 1rem;
    }

    .description_banner{
        padding-right: 0;
    }

    .container_last{
        flex-wrap: wrap;
        width: 90%;
        margin: 0;
    }
	.container_all{
		flex-wrap: wrap;
        width: 90%;
        margin: 0;
    }


    .card{
        margin: 2rem 0 2rem 1.5rem;
    }
}

@media (max-width:950px) {
    .description_banner{
        padding-right: 5rem;
    }

    .container_last{
        flex-wrap: wrap;
        flex-direction: column;
    }


	.container_all{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .text{
        padding-top: 0;
    }
}
/*start footer responsive téléphone*/

@media (max-width:500px){
	
		.footer{
			margin: 0;
		}
	
		.recettes-question{
			flex-direction: column-reverse;
		}
	
		.contain{
			margin-top: 3rem;
		}
	
		.bottoms{
			margin-bottom: 3rem;
		}
	
		.row{
			flex-direction: column;
		}
	
		.right{
			font-size: 10px;
			text-align: center;
			margin-bottom: 1rem;
		}
	
		.copyright-menu{
			font-size: 10px;
		}
	
		.copyright-menu ul{
			display: flex;
			margin: 0;
			padding: 0;
			justify-content: space-evenly;
		}
	
		.copyright-menu li {
			padding: 0;
		}
	}
	/*end footer responsive téléphone*/
	
	/*start footer responsive tablette*/
	@media (max-width:950px) and (min-width:700px){
		
		
		.recettes-question{
			gap:2rem;
		}
	
		.bottoms{
			margin-bottom: 2rem;
			justify-content: center;
		}
	
		.bottoms .contain{
			display: flex;
			align-items: baseline;
			gap: 1rem;
		}
	
		.copyright-container{
			padding: 10px;
		}
	
		.right{
			font-size: 10px;
			text-align: center;
		}
	
		.copyright-menu{
			font-size: 12px;
		}
	
		.copyright-menu ul{
			display: flex;
			margin: 0;
			padding: 0;
			justify-content: space-evenly;
		}
	
		.copyright-menu li {
			padding: 0;
		}
	}
	/*end footer responsive tablette*/