
/* Style général */
*{
    background-image: url("/firstapp/static/background-healthy-eating.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.chatbot {
  max-width: 800px;
  margin: auto;
  background-color: hsl(163, 81%, 35%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* Barre de titre */
.chatbot .title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:green;
  color: #fff;
  padding: 10px;
  font-size: 20px;
}

.chatbot .title-bar .title {
  font-weight: bold;
}

.chatbot .title-bar .close-btn {
  cursor: pointer;
  font-size: 24px;
}

/* Zone de conversation */
.chatbot .conversation {
  height: 400px;
  overflow-y: scroll;
  padding: 10px;
  display: block;
  align-content:start;
}

.chatbot .conversation .chat-bubble {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.chatbot .conversation .user-bubble {
  background-color: #0084ff;
  color: #fff;
    width:85%;
    text-align: left;
    align-self: flex-end;
}

.chatbot .conversation .bot-bubble {
  background-color: #fff;
    align-self: flex-start;
    text-align: right;

    width:85%;
  color: #333;
}

/* Zone de saisie */
.chatbot .input-area {
  display: flex;
  align-items: center;
  background-color: #ddd;
  padding: 10px;
}

.chatbot .input-area input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.chatbot .input-area button {
  margin-left: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0084ff;
  color: #fff;
  cursor: pointer;
}
