<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy-Eating 2</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet_programmes.css' %}">
    <link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images_index/logo.png' %}">
    <link href="{% static 'https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/960e2253ca.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<!-- start header -->
		<header>
			<div class="logo">  
				<img src="{% static 'images_index/logo.png' %}" alt="Photo of logo">	
			</div>	
			<nav class="navigation"><!--Navigation avec dropdown menu-->
				<ul class="navbar">
					
					<li class="dropdown"><!--Section Contact-->
						<a href="index" class="dropbtn">Accueil</a>
					</li>
					<li class="dropdown"> <!--Section Programmes avec dropdown menu-->
						<a href="programmes" class="dropbtn">Programmes</a>
						<ul class="dropdown-content">
							<li><a href="#">Détox</a></li>
							<li><a href="#">Sans œufs</a></li>
							<li><a href="#">Sans lactose</a></li>
							<li><a href="#">Sans gluten</a></li>
							<li><a href="#">Sans coque</a></li>
							<li><a href="#">Sans sucre/diabétique</a></li>
							<li><a href="#">Sans poisson</a></li>
							<li><a href="#">Sans viande</a></li>
							<li><a href="#">Paléo</a></li>
							<li><a href="#">Cétogène-Kéto</a></li>
							<li><a href="#">Végétarien</a></li>
							<li><a href="#">Vegan</a></li>
						</ul>
					</li>
	
					<li class="dropdown"> <!--Section Recettes avec dropdown menu-->
						<a href="recettes" class="dropbtn">Recettes</a>
						<ul class="dropdown-content">
							<li><a href="#">Menus de la semaine</a></li>
							<li><a href="#">Cuisine healthy</a></li>
							<li><a href="#">Cuisine du monde</a></li>
							<li><a href="#">Cuisine healthy facile</a></li>
						</ul>
					</li>
	
					<li class="dropdown"><!--Section Conseilles avec dropdown menu-->
						<a href="conseils" class="dropbtn">Conseiles</a>
						<ul class="dropdown-content">
							<li><a href="#">Articles Santé</a></li>
							<li><a href="#">Actualités</a></h1li>
							<li><a href="#">Aliments Santé</a></li>
						</ul>
					</li>
	
					<li class="dropdown"><!--Section Contact-->
						<a href="contact" class="dropbtn">Contact</a>
					</li>
	
	
					<li><!--Section Loupe-->
					<a href="#" target="_blank" class="nav-link"><img src="{% static 'images_index/loupe.png' %}" alt="Loupe"></a>
	
					</li>
	
					<li><!--Section Profil-->
						<a href="#" target="_blank" class="nav-link"><img src="{% static 'images_index/Profil.png' %}" alt="Profil"></a>
					</li>
						
					
				</ul>
	
			</nav>
            <!--début faux menu burger-->
            <div class="dropdown_1">
                <a href="#" class="nav-link"><img src="{% static 'images_index/loupe.png' %}" alt="Loupe"></a>
                <div class="dropbtn_1"><s2><p>_</p><p>_</p><p>_</p></s2></div>
                <ul class="dropdown_content_1">
                    <li class="list_1">Programmes</li>
                    <li class="list_1">Recettes</li>
                    <li class="list_1">Conseils</li>
                    <li class="list_1">Contact</li>
                    <li class="list_1">Blog</li>
                    <li class="list_1">Profil</li>
                </ul>
        </div> 
        <!--fin faux menu burger-->
            
    
        </header>
     <!-- finish header -->

        <main class="content">

            <div class="banner"> <!-- image d'en-tête-->
                <h1 class="title_banner">Programmes diététiques</h1>
                <p class="description_banner">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <div class="cards_1"> <!-- premières 3 cards -->
                <div class="card detox"> <!-- carte du régime détox -->
                    <div class="image_detox"></div>
                    <div class="prog_text detox">
                        <h2 class="title_detox">Détox</h2>
                        <p class="description_detox">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                </div>

                <div class="card keto"> <!-- carte du régime cétogène -->
                    <div class="image_keto"></div>
                    <div class="prog_text keto">
                        <h2 class="title_keto">Cétogène</h2>
                        <p class="description_keto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                </div>

                <div class="card carnivore"> <!-- carte du régime carnivore -->
                    <div class="image_carnivore"></div>
                    <div class="prog_text carnivore">
                        <h2 class="title_carnivore">Carnivore</h2>
                        <p class="description_carnivore">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                </div>
            </div>

            <div class="cards_2"> <!-- secondes 3 cards -->

                <div class="card pH"> <!-- carte du régime acido-basique -->
                    <div class="image_pH"></div>
                    <div class="prog_text pH">
                        <h2 class="title_pH">Acido-basique</h2>
                        <p class="description_pH">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                </div>

                <div class="card lactose"> <!-- carte du régime sans lactose -->
                    <div class="image_lactose"></div>
                    <div class="prog_text lactose">
                    <h2 class="title_lactose">Sans lactose</h2>
                        <p class="description_lactose">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                </div>

                <div class="card gluten"> <!-- carte du régime sans gluten -->
                    <div class="image_gluten"></div>
                    <div class="prog_text gluten">
                        <h2 class="title_gluten">Sans gluten</h2>
                        <p class="description_gluten">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                </div>
            </div>

            <nav class="pages">
                <ul class="pagination">
                    <li class="page_arrows"><i class="fa-solid fa-square-caret-left"></i></li>
                    <li class="page_numbers" id="page_one">1</li>
                    <li class="page_numbers">2</li>
                    <li class="page_numbers">3</li>
                    <li class="page_numbers">4</li>
                    <li class="page_numbers">5</li>
                    <li class="page_arrows"><i class="fa-solid fa-square-caret-right"></i></li>
                </ul>
            </nav>
    
        </main>

     <!-- start button JavaScript -->
	 <!--button-->
	 <div id="chat-circle" class="btn btn-raised">
		<div id="chat-overlay"></div>
		<!--<i class="material-icons">android</i>-->
		<img class="chat-circle_robot" src="{% static 'images_index/chat-bot.png' %}">
	</div>

	<!--chat-bot-->
	<div class="chat-box">
		<div class="chat-box-body">
			<!--welcome message-->
			<div class="chat-box-welcome__header">
				<div class="chat-box__header-text">
					<p3 class="chat-box-welcome__company-name">Healthy Eating</p3>
					<span class="chat-box-toggle"><i class="material-icons">cancel</i></span>
				</div>

				<div id="chat-box-welcome__ava">
					<!--<i class="material-icons">android</i>-->
					<img class="chat-box-welcome_robot" src="{% static 'images_index/robot.png' %}">
				</div>
				<div class="chat-box-welcome__welcome-text">
					<p>Bonjour , je suis ChatBot, comment puis-je vous aider?</p>
				</div>
				<!--<div id="chat">

				</div>-->
			</div>




			<!--chat-bot after welcome was toggled-->
			<div id="chat-box__wraper">
				<div class="chat-box-header">
					ChatBot
					<span class="chat-box-toggle"><i class="material-icons">cancel</i></span>
				</div>



				<div class="chat-box-overlay">
				</div>
				<div class="chat-logs">
					<div id="cm-msg-0" class="chat-msg bot">
						<span class="msg-avatar">
				   <!--<i class="material-icons">android</i>-->
				   <img class="chat-box-overlay_robot" src="{% static 'images_index/robot.png' %}">          
				   </span>
						<div class="cm-msg-text">
							Avez-vous des questions?
						</div>
					</div>
					<!--<div class="text-center"><p>loader 1</p><div class="loader1"></div></div>-->
					<div class="spin-container">
						<div class="spiner">
							<div aria-hidden="true"></div>
							<div aria-hidden="true"></div>
							<div aria-hidden="true"></div>
						</div>
					</div>

				</div>
				<!--chat-log-->
			</div>

		</div>
		<div class="chat-input-box" id="chatLog">
			<form class="chat-input__form">
			   <input type="text" class="chat-input__text" id="chat-input__text" placeholder="Send a message..." /> 
				<button type="submit" class="chat-submit" id="chat-submit">
				  <i class="material-icons">send</i>
			  </button>
				</form>
				<p6 class="chat-box__sign">powered by NutriTeamCo</p6>
			</div>
		</div>

	 <!-- end live-chat -->
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

            <!--start footer-->
            <footer class="footer">
                <div class="recettes-question">
                    <div class="contain"> 
                        <h2 class="news">Des questions</h2>
                        <p>À propos Healthy eating</p>
                        <p>Partagez avec nous vos photos et recettes healthy.</p>
                        <div class="social-footer-icons">
                            <div class="menu-simple">
                                <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                                <a href="https://www.instagram.com/?hl=en" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                                <a href="https://twitter.com/?lang=en"  target="_blank"><i class="fa-brands fa-twitter"></i></a>
                                <a href="https://www.tiktok.com/"  target="_blank"><i class="fa-brands fa-tiktok" ></i></i></a>
                            </div>
                            
                            
                          </div>
                        <br/>
                        </div>
                    <div class="newsletter">
                        <h2 class="news">Newsletter</h2>
                        <input type="text" placeholder="Name" name="name" required>
                        <input type="text" placeholder="Email address" name="mail" required>
                        <input type="submit" value="S'abonner" class="button">
                    
                    </div>
                </div>
                <div class="bottoms">
                <div class="contain">
                    <h2 class="news">Nous contacter</h2>
                     <p class="mail">hello@healthyeating.fr</p>
                     </div>
    
            </div>
            <!--start Copyright -->      
            <footer>
                <div class="copyright">
                    <div class="copyright-container">
                        <div class="row">
                            <div class="all right">
                                <span>Copyright © 2023 All Right Reserved NutriTeam</span>
                            </div>
                            <!-- End Col -->
                            
                                <div class="copyright-menu">
                                    <ul id="copyright-menu">
                                        <li>
                                            <a href="#">Mention legal</a>
                                        </li>
                                        <li>
                                            <a href="#">Terms</a>
                                        </li>
                                        <li>
                                            <a href="#">Privacy Policy</a>
                                        </li>
                                    </ul>
                                </div>
                            
                            <!-- End col -->
                        </div>
                        <!-- End Row -->
                    </div>
                    <!-- End Copyright Container -->
                </div>
                <!-- End Copyright -->
                
                
            </footer>
            <!--end footer-->
            
    <!-- SCRIPTS -->
        <script src="index.js"></script>
        
    </div>
</body>
</html>
