<!DOCTYPE html>
<html lang="en">

	<head>
		{%load static%}
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Healthy-Eating</title>
		<link rel="stylesheet" href="{% static 'styles.css' %}">
		<link rel="stylesheet" href="{% static 'styles-conseils.css' %}">
		<script src="https://kit.fontawesome.com/179bc87f43.js" crossorigin="anonymous"></script>
		<link rel="shortcut icon" type="images_index/x-icon" href="{% static 'images_index/logo.jpg' %}">
	</head>

	<body>
	<div class="container">
		<!-- start header -->
		<header>
			<div class="logo">  
				<img src="{% static 'images_index/logo.png' %}" alt="Photo of logo">	
			</div>	
			<nav class="navigation"><!--Navigation avec dropdown menu-->
				<ul class="navbar">
					
					<li class="dropdown"><!--Section Contact-->
						<a href="index" class="dropbtn">Accueil</a>
					</li>
					<li class="dropdown"> <!--Section Programmes avec dropdown menu-->
						<a href="programmes" class="dropbtn">Programmes</a>
						<ul class="dropdown-content">
							<li><a href="#">Détox</a></li>
							<li><a href="#">Sans œufs</a></li>
							<li><a href="#">Sans lactose</a></li>
							<li><a href="#">Sans gluten</a></li>
							<li><a href="#">Sans coque</a></li>
							<li><a href="#">Sans sucre/diabétique</a></li>
							<li><a href="#">Sans poisson</a></li>
							<li><a href="#">Sans viande</a></li>
							<li><a href="#">Paléo</a></li>
							<li><a href="#">Cétogène-Kéto</a></li>
							<li><a href="#">Végétarien</a></li>
							<li><a href="#">Vegan</a></li>
						</ul>
					</li>
	
					<li class="dropdown"> <!--Section Recettes avec dropdown menu-->
						<a href="recettes" class="dropbtn">Recettes</a>
						<ul class="dropdown-content">
							<li><a href="#">Menus de la semaine</a></li>
							<li><a href="#">Cuisine healthy</a></li>
							<li><a href="#">Cuisine du monde</a></li>
							<li><a href="#">Cuisine healthy facile</a></li>
						</ul>
					</li>
	
					<li class="dropdown"><!--Section Conseilles avec dropdown menu-->
						<a href="conseils" class="dropbtn">Conseiles</a>
						<ul class="dropdown-content">
							<li><a href="#">Articles Santé</a></li>
							<li><a href="#">Actualités</a></h1li>
							<li><a href="#">Aliments Santé</a></li>
						</ul>
					</li>
	
					<li class="dropdown"><!--Section Contact-->
						<a href="contact" class="dropbtn">Contact</a>
					</li>
	
					<li class="dropdown"><!--Section Contact-->
						<a href="chatbot" class="dropbtn">Chatbot</a>
					</li>
	

					<li><!--Section Loupe-->
					<a href="#" target="_blank" class="nav-link"><img src="{% static 'images_index/loupe.png' %}" alt="Loupe"></a>
	
					</li>
	
					<li><!--Section Profil-->
						<a href="#" target="_blank" class="nav-link"><img src="{% static 'images_index/Profil.png' %}" alt="Profil"></a>
					</li>
						
					
				</ul>
	
			</nav>
			</header>


			<main class="content">

				<div class="banner"> <!-- image d'en-tête-->
					<h1 class="title_banner">Les fruits et légumes de saison : que manger en été ?</h1>
					<p class="description_banner">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
				</div>

				<!--Article start-->
				<div class="article">

					<h3>Les fruits & légumes de saison : que manger en été</h3>
					<h2>Les anti-oxydants</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh 
					euismod tincidunt ut lacreet dolore magna aliguam erat volutpat.<br> Ut wisis enim 
					ad minim veniam, quis nostrud exerci tution ullamcorper suscipit lobortis nisl 
					ut aliquip ex ea commodo consequat.</p>
					<img class="image_article" src="{% static 'images_index/strowberry.jpg' %}" alt="Abricot" aligne="left" vspace="5" hspace="5">
				
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh 
					euismod tincidunt ut lacreet dolore magna aliguam erat volutpat.<br> Ut wisis enim 
					ad minim veniam, quis nostrud exerci tution ullamcorper suscipit lobortis nisl 
					ut aliquip ex ea commodo consequat. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta maxime ullam unde voluptatum mollitia dolor libero quasi quam illum assumenda, impedit velit laudantium eum tenetur, doloremque temporibus, incidunt tempora exercitationem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt saepe optio maxime, deleniti repellendus officia repudiandae consectetur corrupti cum voluptatum facere omnis non unde rerum temporibus commodi, sequi nisi reprehenderit?
				
					<h2>Les anti-oxydants</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh 
						euismod tincidunt ut lacreet dolore magna aliguam erat volutpat.</p>
					<h2>Lorem ipsum dolor sit amet</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, alias iure. Tenetur, molestias voluptatem corporis quis perspiciatis voluptate illo nostrum, officiis sapiente earum laboriosam libero nam odit vitae! Suscipit, sapiente.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh 
					euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim 
					ad minim veniam, quis nostrud exerci tution ullamcorper suscipit lobortis nisl 
					ut aliquip ex ea commodo consequat. Lorem ipsum dolor.</p>
					<h2>Pour s’hydrater</h2>
					<img class="image_article" src="{% static 'images_index/abricot.jpg' %}" alt="Abricot" aligne="left" vspace="5" hspace="5">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, alias iure. Tenetur, molestias voluptatem corporis quis perspiciatis voluptate illo nostrum, officiis sapiente earum laboriosam libero nam odit vitae! Suscipit, sapiente.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh 
					euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim 
					ad minim veniam, quis nostrud exerci tution ullamcorper suscipit lobortis nisl 
					ut aliquip ex ea commodo consequat.</p>
					
					<h2>Les fruits et légumes riches en fibres</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, alias iure. Tenetur, molestias voluptatem corporis quis perspiciatis voluptate illo nostrum, officiis sapiente earum laboriosam libero nam odit vitae! Suscipit, sapiente.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh 
					euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim 
					ad minim veniam, quis nostrud exerci tution ullamcorper suscipit lobortis nisl 
					ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, alias iure. Tenetur, molestias voluptatem corporis quis perspiciatis voluptate illo nostrum, officiis sapiente earum laboriosam libero nam odit vitae! Suscipit, sapiente.</p>
					<br>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, alias iure. Tenetur, molestias voluptatem corporis quis perspiciatis voluptate illo nostrum, officiis sapiente earum laboriosam libero nam odit vitae! Suscipit, sapiente.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh 
					euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim 
					ad minim veniam, quis nostrud exerc.</p>
					<p class="temps">Le 07/06/2022 à 08:20</p>

				</div><!--Article end-->
			
				<!--cards start-->
				<section class="all">

					<h3 class="all_articles">Tous les articles</h3>
				
					<div class="container_all">

						<div class="card">
							<div class="image" id="agrumes"></div>
							<div class="overlay"></div>
						
							<div class="text">
								<h4>Lorem ipsum dolor sit amet.</h4>
								<p>Lorem ipsum dolor sit amet. </p>
							</div>
						</div>

					
						<div class="card">
							<div class="image" id="legumes"></div>
							<div class="overlay"></div>
	
							<div class="text">
								<h4>Lorem ipsum dolor sit amet.</h4>
								<p>Lorem ipsum dolor sit amet. </p>
							</div>
						</div>

						<div class="card">
							<div class="image" id="ginger"></div>
							<div class="overlay"></div>
		
							<div class="text">
								<h4>Lorem ipsum dolor sit amet.</h4>
								<p>Lorem ipsum dolor sit amet. </p>
							</div>
						</div>	 
					</div>

				</section>
				<!--Cards end-->
		
		
				<!--Pagination start-->
				<nav class="pages">

					<ul class="pagination">

						<li class="page_arrows"><i class="fa-solid fa-square-caret-left"></i></li>
						<li class="page_numbers" id="page_one">1</li>
						<li class="page_numbers">2</li>
						<li class="page_numbers">3</li>
						<li class="page_numbers">4</li>
						<li class="page_numbers">5</li>
						<li class="page_arrows"><i class="fa-solid fa-square-caret-right"></i></li>
					</ul>
				</nav><!--Pagination end-->

	
			</main>
		</div>

		<!-- footer -->
		<footer class="footer">

			<div class="recettes-question">
				<div class="contain"> 
					<h2 class="news">Des questions</h2>
					<p>À propos Healthy eating</p>
					<p>Partagez avec nous vos photos et recettes healthy.</p>
					<div class="social-footer-icons">
						<div class="menu-simple">
							<a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
							<a href="https://www.instagram.com/?hl=en" target="_blank"><i class="fa-brands fa-instagram"></i></a>
							<a href="https://twitter.com/?lang=en"  target="_blank"><i class="fa-brands fa-twitter"></i></a>
							<a href="https://www.tiktok.com/"  target="_blank"><i class="fa-brands fa-tiktok" ></i></i></a>
						</div>		
					</div>
					<br/>
				</div>

				<div class="newsletter">
					<h2 class="news">Newsletter</h2>
					<input type="text" placeholder="Name" name="name" required>
					<input type="text" placeholder="Email address" name="mail" required>
					<input type="submit" value="S'abonner" class="button">
				</div>

			</div>

			<div class="bottoms">

				<div class="contain">
					<h2 class="news">Nous contacter</h2>
		 			<p class="mail">hello@healthyeating.fr</p>
				</div>

			</div>

			<!--start Copyright -->		 
			<div class="copyright">
				<div class="copyright-container">
					<div class="all_right">
						<span>Copyright © 2023 All Right Reserved NutriTeam</span>
					</div>
					<!-- End Col -->
				
					<div class="copyright-menu">
						<ul>
							<li>
								<a href="#">Mention legal</a>
							</li>
							<li>
								<a href="#">Terms</a>
							</li>
							<li>
								<a href="#">Privacy Policy</a>
							</li>
						</ul>
					</div>
					<!-- end copyright-menu -->
					<!-- End Row -->
				</div>
					<!-- End Copyright Container -->
			</div>
				<!-- End Copyright -->
		</footer>
		<!-- finish footer -->
		
		
	</body>
</html>
		
		
		
		
		

</body>
</html>
