<!DOCTYPE html>
<html lang="en">
<head>
	{%load static%}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Healthy-Eating 2</title>
	<link rel="stylesheet" href="{% static 'styles.css' %}">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'images_index/logo.png' %}">
	<script src="https://kit.fontawesome.com/179bc87f43.js" crossorigin="anonymous"></script>
	<link href="{% static 'https://fonts.googleapis.com/icon?family=Material+Icons' %}" rel="stylesheet">
	 
</head>
<body>
	<div class="container">
		<!-- start header -->
		<header>
			<div class="logo">  
				<img src="{% static 'images_index/logo.png' %}" alt="Photo of logo">	
			</div>	
			<nav class="navigation"><!--Navigation avec dropdown menu-->
				<ul class="navbar">
					
					<li class="dropdown"><!--Section Contact-->
						<a href="/" class="dropbtn">Accueil</a>
					</li>
					<li class="dropdown"> <!--Section Programmes avec dropdown menu-->
						<a href="programmes" class="dropbtn">Programmes</a>
						<ul class="dropdown-content">
							<li><a href="#">Détox</a></li>
							<li><a href="#">Sans œufs</a></li>
							<li><a href="#">Sans lactose</a></li>
							<li><a href="#">Sans gluten</a></li>
							<li><a href="#">Sans coque</a></li>
							<li><a href="#">Sans sucre/diabétique</a></li>
							<li><a href="#">Sans poisson</a></li>
							<li><a href="#">Sans viande</a></li>
							<li><a href="#">Paléo</a></li>
							<li><a href="#">Cétogène-Kéto</a></li>
							<li><a href="#">Végétarien</a></li>
							<li><a href="#">Vegan</a></li>
						</ul>
					</li>
	
					<li class="dropdown"> <!--Section Recettes avec dropdown menu-->
						<a href="recettes" class="dropbtn">Recettes</a>
						<ul class="dropdown-content">
							<li><a href="#">Menus de la semaine</a></li>
							<li><a href="#">Cuisine healthy</a></li>
							<li><a href="#">Cuisine du monde</a></li>
							<li><a href="#">Cuisine healthy facile</a></li>
						</ul>
					</li>
	
					<li class="dropdown"><!--Section Conseilles avec dropdown menu-->
						<a href="conseils" class="dropbtn">Conseils</a>
						<ul class="dropdown-content">
							<li><a href="#">Articles Santé</a></li>
							<li><a href="#">Actualités</a></h1li>
							<li><a href="#">Aliments Santé</a></li>
						</ul>
					</li>
	
					<li class="dropdown"><!--Section Contact-->
						<a href="contact" class="dropbtn">Contact</a>
					</li>
		
					<li class="dropdown"><!--Section Contact-->
						<a href="chatbot" class="dropbtn">Chatbot</a>
					</li>
	
	
					<li><!--Section Loupe-->
					<a href="#" target="_blank" class="nav-link"><img src="{% static 'images_index/loupe.png' %}" alt="Loupe"></a>
	
					</li>
	
					<li><!--Section Profil-->
						<a href="#" target="_blank" class="nav-link"><img src="{% static 'images_index/Profil.png' %}" alt="Profil"></a>
					</li>
						
					
				</ul>
	
			</nav>
	
		     <!--début faux menu burger-->
				 <div class="dropdown_1">
					<a href="#" class="nav-link"><img src="{% static 'images_index/loupe.png' %}" alt="Loupe"></a>
					<div class="dropbtn_1"><s2><p>_</p><p>_</p><p>_</p></s2></div>
					<ul class="dropdown_content_1">
						<li class="list_1">Programmes</li>
						<li class="list_1">Recettes</li>
						<li class="list_1">Conseils</li>
						<li class="list_1">Contact</li>
						<li class="list_1">Blog</li>
						<li class="list_1">Profil</li>
					</ul>
			</div> 
			<!--fin faux menu burger-->
				
		

		</header>
	 <!-- finish header -->
	{% if page == "home" %}
		<main>
			<!-- start slideshow images -->
			<div class="slideshow-container">

				<div class="mySlides fade">
				  
				  <img src="{% static 'images_index/plat(3).jpg' %}" style="width:100%">
				</div>
				
				<div class="mySlides fade">
				  
				  <img src="{% static 'images_index/plat(2).jpg' %}" style="width:100%">
				</div>
				
				<div class="mySlides fade">
					
					<img src="{% static 'images_index/plat(1).jpg' %}" style="width:100%">
				  </div>
				
				<a class="prev" onclick="plusSlides(-1)">❮</a>
				<a class="next" onclick="plusSlides(1)">❯</a>
				
				</div>
				<br>
				
				<div style="text-align:center">
				  <span class="dot" onclick="currentSlide(1)"></span> 
				  <span class="dot" onclick="currentSlide(2)"></span> 
				  <span class="dot" onclick="currentSlide(3)"></span> 
				</div>
				
			<!-- finish slideshow images -->
			<!-- start text bienvenue -->
			<div class="bienvenue">
				<h1>Bienvenue chez Health Eating !</h1>
				<h3> On va vous aider 
					à atteindre vos objectifs de santé et de bien-être en fournissant des conseils personnalisés en matière de nutrition. 
					Nous croyons que la clé pour une vie saine est une alimentation équilibrée et adaptée à vos besoins individuels.
				</h3>
			</div>
			
			    <!-- start cards -->
				<div class="cards"> <!-- all cards -->
					<div class="card detox"> <!-- carte du régime détox -->
						<div class="image_detox"></div>
						<div class="prog_text detox">
							<h2 class="title_detox">Détox</h2>
							<p class="description_detox">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
						</div>
					</div>
	
					<div class="card keto"> <!-- carte du régime cétogène -->
						<div class="image_keto"></div>
						<div class="prog_text keto">
							<h2 class="title_keto">Cétogène</h2>
							<p class="description_keto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
						</div>
					</div>
	
					<div class="card carnivore"> <!-- carte du régime carnivore -->
						<div class="image_carnivore"></div>
						<div class="prog_text carnivore">
							<h2 class="title_carnivore">Carnivore</h2>
							<p class="description_carnivore">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
						</div>
					</div>
				</div>
				<!-- finish cards -->
				<!-- finish cards -->

		<!-- start text -->
		<div class="bienvenue">
			<h3> Notre programme comprend une variété de recettes intéressantes et savoureuses, 
				toutes élaborées par des professionnels de la nutrition adaptée à vos besoins individuels.
			</h3>
		</div>
		<!-- finish text -->
		
	 <!-- start Portfolio Section -->
	 <section id="portfolio">
		 	<div class="row1">
				   <a href="single-project.html">
						<div class="portfolio-thumb">
							 <img src="{% static 'images_recettes/1 vegan.jpg' %}" class="img-responsive" alt="Portfolio">
								  <div class="portfolio-overlay">
									   <div class="portfolio-item">
											<h3>Vegan</h3>
									   </div>
								  </div>
						</div>
				   </a>
			  

				   <a href="single-project.html">
						<div class="portfolio-thumb">
							 <img src="{% static 'images_recettes/2 sans gluten.jpg' %}" class="img-responsive" alt="Portfolio">
								  <div class="portfolio-overlay">
									   <div class="portfolio-item">
											<h3>Sans gluten</h3>
									
									   </div>
								  </div>
						</div>
				   </a>
			  

			  
				   <a href="single-project.html">
						<div class="portfolio-thumb">
							 <img src="{% static 'images_recettes/3 sans lactose.jpg' %}" class="img-responsive" alt="Portfolio">
								  <div class="portfolio-overlay">
									   <div class="portfolio-item">
											<h3>Sans lactose</h3>
									   </div>
								  </div>
						</div>
				   </a>
			  

				   <a href="single-project.html">
						<div class="portfolio-thumb">
							 <img src="{% static 'images_recettes/4 recette minceur.jpg' %}" class="img-responsive" alt="Portfolio">
								  <div class="portfolio-overlay">
									   <div class="portfolio-item">
											<h3>Recettes minceur</h3>
									   </div>
								  </div>
						</div>
				   </a>

				   <a href="single-project.html">
						<div class="portfolio-thumb">
							 <img src="{% static 'images_recettes/5 recette healthy de legume.jpg' %}" class="img-responsive" alt="Portfolio">
								  <div class="portfolio-overlay">
									   <div class="portfolio-item">
											<h3>Recettes healthy de légumes</h3>
									   </div>
								  </div>
						</div>
				   </a>

				   <a href="single-project.html">
						<div class="portfolio-thumb">
							 <img src="{% static 'images_recettes/6 recette-healthy.jpg' %} " class="img-responsive" alt="Portfolio">
								  <div class="portfolio-overlay">
									   <div class="portfolio-item">
											<h3>Recettes health</h3>
									   </div>
								  </div>
						</div>
				   </a>


		 	</div>
	</section>
	<!-- finish Portfolio Section -->

		</main>
	{% endif %}

	{% if page == "recette"%}
	<link rel="stylesheet" type="text/css" href="{% static 'stylerecette.css' %}">

		<main class="content">
			<div class="entet">
				<h1 class="text">Trouver une recette healthy</h1>
				<p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, id! Iste est dicta atque beatae.</p>
			</div>
			
			<div class="categories"> 
			<!-- carte vegan -->
			
				<div class="vegan" id="card"> 
					<div class="image-vegan"></div>
					<div class="overlay"></div>
					<div class="text">
						<h4>Végan</h4>
					</div>
				</div>
			
			
			<!-- carte gluten  -->
						
				<div class="sans-gluten" id="card"> 
					<div class="image-gluten"></div>
					<div class="overlay"></div>
					<div class="text">
						<h4>Sans gluten</h4>
						
					</div>
				</div>
			
				<!-- carte sans lactos  -->
				
				<div class="sans-lactos" id="card">
					<div class="image-lactos"></div>
					<div class="overlay"></div>
					<div class="text">
						<h4>Sans lactose</h4>
						
					</div>
				</div>
			</div>

				
			<!--deuxieme ligne-->
			
			<div class="categori">
				<div class="recette-minceur" id="card">
					<div class="image-minceur"></div>
					<div class="overlay"></div>
					<div class="text">
						<h4>Recettes minceur</h4>
					</div>
				</div>	
					<div class="healty-legume" id="card">
						<div class="image-legume"></div>
						<div class="overlay"></div>
						<div class="text">
							<h4>Recettes healthy de légumes</h4>
						</div>
					</div>	
						<div class="recette-healty" id="card">
							<div class="image-healthy"></div>
							<div class="overlay"></div>
							<div class="text">
								<h4>Recettes healthy</h4>
							</div>
						</div>
					</div>
				</div>
				<nav class="pages">
					<ul class="pagination">
						<li class="page_arrows"><i class="fa-solid fa-square-caret-left"></i></li>
						<li class="page_numbers" id="page_one">1</li>
						<li class="page_numbers">2</li>
						<li class="page_numbers">3</li>
						<li class="page_numbers">4</li>
						<li class="page_numbers">5</li>
						<li class="page_arrows"><i class="fa-solid fa-square-caret-right"></i></li>
					</ul>
				</nav>
			</div>
		</main>
	{% endif %}

	{% if page == "conseils"%}
<main>
	<main class="content">

		<div class="banner"> <!-- image d'en-tête-->
			<h1 class="title_banner">Les fruits et légumes de saison : que manger en été ?</h1>
			<p class="description_banner">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
		</div>

		<!--Article start-->
		<div class="article">

			<h3>Les fruits & légumes de saison : que manger en été</h3>
			<h2>Les anti-oxydants</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh 
			euismod tincidunt ut lacreet dolore magna aliguam erat volutpat.<br> Ut wisis enim 
			ad minim veniam, quis nostrud exerci tution ullamcorper suscipit lobortis nisl 
			ut aliquip ex ea commodo consequat.</p>
			<img class="image_article" src="{% static 'images_index/strowberry.jpg' %}" alt="Abricot" aligne="left" vspace="5" hspace="5">
		
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh 
			euismod tincidunt ut lacreet dolore magna aliguam erat volutpat.<br> Ut wisis enim 
			ad minim veniam, quis nostrud exerci tution ullamcorper suscipit lobortis nisl 
			ut aliquip ex ea commodo consequat. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta maxime ullam unde voluptatum mollitia dolor libero quasi quam illum assumenda, impedit velit laudantium eum tenetur, doloremque temporibus, incidunt tempora exercitationem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt saepe optio maxime, deleniti repellendus officia repudiandae consectetur corrupti cum voluptatum facere omnis non unde rerum temporibus commodi, sequi nisi reprehenderit?
		
			<h2>Les anti-oxydants</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh 
				euismod tincidunt ut lacreet dolore magna aliguam erat volutpat.</p>
			<h2>Lorem ipsum dolor sit amet</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, alias iure. Tenetur, molestias voluptatem corporis quis perspiciatis voluptate illo nostrum, officiis sapiente earum laboriosam libero nam odit vitae! Suscipit, sapiente.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh 
			euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim 
			ad minim veniam, quis nostrud exerci tution ullamcorper suscipit lobortis nisl 
			ut aliquip ex ea commodo consequat. Lorem ipsum dolor.</p>
			<h2>Pour s’hydrater</h2>
			<img class="image_article" src="{% static 'images_index/abricot.jpg' %}" alt="Abricot" aligne="left" vspace="5" hspace="5">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, alias iure. Tenetur, molestias voluptatem corporis quis perspiciatis voluptate illo nostrum, officiis sapiente earum laboriosam libero nam odit vitae! Suscipit, sapiente.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh 
			euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim 
			ad minim veniam, quis nostrud exerci tution ullamcorper suscipit lobortis nisl 
			ut aliquip ex ea commodo consequat.</p>
			
			<h2>Les fruits et légumes riches en fibres</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, alias iure. Tenetur, molestias voluptatem corporis quis perspiciatis voluptate illo nostrum, officiis sapiente earum laboriosam libero nam odit vitae! Suscipit, sapiente.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh 
			euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim 
			ad minim veniam, quis nostrud exerci tution ullamcorper suscipit lobortis nisl 
			ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, alias iure. Tenetur, molestias voluptatem corporis quis perspiciatis voluptate illo nostrum, officiis sapiente earum laboriosam libero nam odit vitae! Suscipit, sapiente.</p>
			<br>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, alias iure. Tenetur, molestias voluptatem corporis quis perspiciatis voluptate illo nostrum, officiis sapiente earum laboriosam libero nam odit vitae! Suscipit, sapiente.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh 
			euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim 
			ad minim veniam, quis nostrud exerc.</p>
			<p class="temps">Le 07/06/2022 à 08:20</p>

		</div><!--Article end-->
	
		<!--cards start-->
		<section class="all">

			<h3 class="all_articles">Tous les articles</h3>
		
			<div class="container_all">

				<div class="card">
					<div class="image" id="agrumes"></div>
					<div class="overlay"></div>
				
					<div class="text">
						<h4>Lorem ipsum dolor sit amet.</h4>
						<p>Lorem ipsum dolor sit amet. </p>
					</div>
				</div>

			
				<div class="card">
					<div class="image" id="legumes"></div>
					<div class="overlay"></div>

					<div class="text">
						<h4>Lorem ipsum dolor sit amet.</h4>
						<p>Lorem ipsum dolor sit amet. </p>
					</div>
				</div>

				<div class="card">
					<div class="image" id="ginger"></div>
					<div class="overlay"></div>

					<div class="text">
						<h4>Lorem ipsum dolor sit amet.</h4>
						<p>Lorem ipsum dolor sit amet. </p>
					</div>
				</div>	 
			</div>

		</section>
		<!--Cards end-->


		<!--Pagination start-->
		<nav class="pages">

			<ul class="pagination">

				<li class="page_arrows"><i class="fa-solid fa-square-caret-left"></i></li>
				<li class="page_numbers" id="page_one">1</li>
				<li class="page_numbers">2</li>
				<li class="page_numbers">3</li>
				<li class="page_numbers">4</li>
				<li class="page_numbers">5</li>
				<li class="page_arrows"><i class="fa-solid fa-square-caret-right"></i></li>
			</ul>
		</nav><!--Pagination end-->
	</main>
</main>
	{% endif %}

	{% if page == 'contact'%}
	<link rel="stylesheet" href="{% static 'stylesheet_contact.css' %}">

        <!--Photo et titre de haut de page-->
        <div class="banner"><h1>Contactez-nous</h1></div> 

        <!--toutes les cartes de contact-->
        <div class="cards"> 
            <!--carte de contact téléphone-->
            <div class="card_telephone"> 
                <div class="logo_telephone"><i class="fa-solid fa-phone logo_telephone"></i></div>
                <h2>Par téléphone</h2>
                <p class="telephone">01 56 27 34 15</p>
            </div>
            <!--fin carte de contact téléphone-->
    
            <!--Ligne de séparation-->
            <hr> 

            <!--carte de contact mail-->
            <div class="card_mail"> 
                <div class="logo_mail"><i class="fa-solid fa-envelope logo_mail"></i></div>
                <h2>Par mail</h2>
                <p class="mail">healthyeating@nutriteam.com</p>
            </div>
            <!--fin carte de contact mail-->
    
            <!--Ligne de séparation-->
            <hr> 

            <!--carte de contact réseaux-->
            <div class="card_social"> 
                <div class="logo_social"><i class="fa-solid fa-users logo_social"></i></div>
                <h2>Sur les réseaux</h2>
                <!--Logos des réseaux-->
                <div class="logo_socials"> 
                    <p class="facebook"><i class="fa-brands fa-facebook"></i></p>
                    <p class="instagram"><i class="fa-brands fa-instagram"></i></p>
                    <p class="twitter"><i class="fa-brands fa-twitter"></i></p>
                    <p class="tiktok"><i class="fa-brands fa-tiktok"></i></p>
                </div>
                <!--fin logos des réseaux-->
            </div>
            <!--fin carte de contact réseaux-->
        </div>
        <!--fin toutes les cartes de contact-->

	{% endif %}

	{% if page == "chatbot"%}
		<main>
			Contenue chatbot
		</main>
	{% endif %}

	{% if page == "programme"%}
	<link rel="stylesheet" href="{% static 'stylesheet_programmes.css' %}">

		<main class="content">

            <div class="banner"> <!-- image d'en-tête-->
                <h1 class="title_banner">Programmes diététiques</h1>
                <p class="description_banner">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <div class="cards_1"> <!-- premières 3 cards -->
                <div class="card detox"> <!-- carte du régime détox -->
                    <div class="image_detox"></div>
                    <div class="prog_text detox">
                        <h2 class="title_detox">Détox</h2>
                        <p class="description_detox">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                </div>

                <div class="card keto"> <!-- carte du régime cétogène -->
                    <div class="image_keto"></div>
                    <div class="prog_text keto">
                        <h2 class="title_keto">Cétogène</h2>
                        <p class="description_keto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                </div>

                <div class="card carnivore"> <!-- carte du régime carnivore -->
                    <div class="image_carnivore"></div>
                    <div class="prog_text carnivore">
                        <h2 class="title_carnivore">Carnivore</h2>
                        <p class="description_carnivore">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                </div>
            </div>

            <div class="cards_2"> <!-- secondes 3 cards -->

                <div class="card pH"> <!-- carte du régime acido-basique -->
                    <div class="image_pH"></div>
                    <div class="prog_text pH">
                        <h2 class="title_pH">Acido-basique</h2>
                        <p class="description_pH">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                </div>

                <div class="card lactose"> <!-- carte du régime sans lactose -->
                    <div class="image_lactose"></div>
                    <div class="prog_text lactose">
                    <h2 class="title_lactose">Sans lactose</h2>
                        <p class="description_lactose">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                </div>

                <div class="card gluten"> <!-- carte du régime sans gluten -->
                    <div class="image_gluten"></div>
                    <div class="prog_text gluten">
                        <h2 class="title_gluten">Sans gluten</h2>
                        <p class="description_gluten">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                </div>
            </div>

            <nav class="pages">
                <ul class="pagination">
                    <li class="page_arrows"><i class="fa-solid fa-square-caret-left"></i></li>
                    <li class="page_numbers" id="page_one">1</li>
                    <li class="page_numbers">2</li>
                    <li class="page_numbers">3</li>
                    <li class="page_numbers">4</li>
                    <li class="page_numbers">5</li>
                    <li class="page_arrows"><i class="fa-solid fa-square-caret-right"></i></li>
                </ul>
            </nav>
		</main>
	{% endif %}


		<!-- footer -->
		<footer class="footer">
			<div class="recettes-question">
				<div class="contain"> 
					<h2 class="news">Des questions</h2>
					<p>À propos Healthy eating</p>
					<p>Partagez avec nous vos photos et recettes healthy.</p>
					<div class="social-footer-icons">
						<div class="menu-simple">
							<a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
							<a href="https://www.instagram.com/?hl=en" target="_blank"><i class="fa-brands fa-instagram"></i></a>
							<a href="https://twitter.com/?lang=en"  target="_blank"><i class="fa-brands fa-twitter"></i></a>
							<a href="https://www.tiktok.com/"  target="_blank"><i class="fa-brands fa-tiktok" ></i></i></a>
						</div>
						
						
					</div>
					<br/>
					</div>
				<div class="newsletter">
					<h2 class="news">Newsletter</h2>
					<input type="text" placeholder="Name" name="name" required>
					<input type="text" placeholder="Email address" name="mail" required>
					<input type="submit" value="S'abonner" class="button">
				
				</div>
			</div>
            <div class="bottoms">
			<div class="contain">
				<h2 class="news">Nous contacter</h2>
				<a href="mailto:votreadresse@mail.fr">contact-nutriteam@gmail.com</a>
				 </div>

		</div>

		<!--start Copyright -->		 
			<div class="copyright">
				<div class="copyright-container">
					<div class="row">
						<div class="all_right">
							<span>Copyright © 2023 All Right Reserved NutriTeam</span>
						</div>
						<!-- End Col -->
						<!-- End Col -->

						<div class="copyright-menu">
							
							<ul id="copyright-menu">
								<li>
									<a href="#">Mention legal</a></li>
								<li>
									<a href="#">Terms</a></li>
								<li>
									<a href="#">Privacy Policy</a></li>
							</ul>

							<!-- end copyright-menu -->
					
					</div>
					<!-- End Row -->
				</div>
				<!-- End Copyright Container -->
			</div>
			<!-- End Copyright -->
		</footer>
		<!-- finish footer -->
	
		<!-- SCRIPTS -->
		<script src="{% static 'index.js' %}"></script>
	</div>
</body>
</html>